.event_container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .event_container_main {
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .event_container_container {
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
}
